<h1>What did you do to help defeat the Burrito Monster?</h1>
<form action="/quest" method="post">
  <div class="form-group">
    <select class='form-control' name='quest' id='quest'>
      <option>Walked</option>
      <option>Ran</option>
      <option>Cycled</option>
      <option>Stood instead of sat</option>
      <option>Took my vitamins</option>
      <option>Drank a METRIC TON of water</option>
      <option>Aerobic workout at gym</option>
      <option>Meditated</option>
      <option>Did yoga</option>
      <option>Slept 8 or more hours</option>
    </select>
  </div>
  <div class="form-group">
    <label for="duration">How long did you do the thing?</label>
    <select class='form-control' name='quest' id='quest'>
      <option value='1'>Once, obviously</option>
      <option value='2'>Up to 15 minutes</option>
      <option value="3">15-45 minutes</option>
      <option value='4'>1 hour</option>
      <option value='5'>Over an hour</option>
  </div>
  <button type="submit" name="button">FIGHT THAT BURRITO</button>
</form>
