<div class="col-sm-8 col-sm-offset-2 push-down">
  <h1> Ok {{name}}, are you cool enough to defeat the burrito monster?</h1><br>

  <div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-6">
      <a href='/twitter' class='btn btn-primary'>Yes</a>
    </div>
    <div class="col-sm-6">
      <a href='/twitter' class='btn btn-primary btn-lg'>Hell Yes!</a>
    </div>
  </div>
</div>
