<h1> Pick your Quest:</h1>
<form action="index.html" method="post">
  <div class="form-group">
    <select class='form-control' name='quest' id='quest'>
      <option value='1'>Daily Quest</option>
      <option value='7'>Weekly Quest</option>
      <option value="2">Challenge mode: Weekend (2x points!)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="start">Pick your start date:</label>
    <input type="date" name="start" id='start'  class='form-control'>
  </div>
  <button type="submit" name="button"></button>
</form>
