<h1>It's Dangerous To Go Alone! Take Friends!</h1>

<form method="POST" action="twitter/fake-oauth">
    <p>
        If you'd like to work with your friends to slay the burrito monster, you need to add your Twitter account!
    </p>

    <input type="text" id="twitter-handle" placeholder="@yr_twitter_handle" />
    <br/>
    <input type="submit"/>
</form>
