<h1>This should be a Twitter app authorization screen</h1>

<h2>But we only had like 7 hours to build this thing and ain't nobody has time for that!</h2>

<h3>So instead just pretend you're authorizing the app to see your friends and send them DMs...</h3>

<h3>...and we'll move on to <a href="/pick">picking your quest</a>!</h3>
