<form>
  <h1> Congrats! </h1>
  <h3> You've slayed the Burrito Monster!</h3> 

  <img src="http://laughingsquid.com/wp-content/uploads/2014/03/d39ceb28a49711e3a23f129d94805010_8.jpg" width="450"/>
  <br>
  <button type="submit" class="btn btn-success">Start Another Quest </button>
</form>


